@model Bike.Web.Models.Make;
@{
    ViewData["Title"] = "Create";
}

<br/>
<h2 class="text-info">Add Model of Vehicle</h2>
<form method="post" action="Create">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Name"></label>
        </div>
        <div class="col-4">
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            @*<input ty‎pe="submit" class="btn btn-primary" value="Create" />*@
            <button id="Button" type="submit" name="submit" formmethod="post" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-success">Back</a>
        </div>
    </div>
</form>

